.status {
  margin-bottom: 10px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #efefef;
  border: 1px solid #999;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;

  float: left;
  font-size: 12px;
  line-height: 200px;
  height: 200px;
  width: 200px;
  text-align: center;
}

.square:focus {
  outline: none;
  background: #ddd;
}